.Form-log {
    background-color: white;
    height: 100% !important;
    width: 300px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.logo-pet{
  width: 100px;
  height: 90px;
}

  .Icon-log {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  @media screen and (max-width: 750px) and (min-width: 401px) {
    .Form-log {
      height: 450px;
    }
    .Icon-log {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
  @media screen and (max-width: 400px) {
    .Form-log {
      height: 450px;
    }
    .Icon-log {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }