.content-map{
    height: 100% !important;
    width: 100% !important;
}
.content-modal-map{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 450px !important;
    margin-bottom: 50px;
}